<div class="text_container">
  <p>
    Welcome to CollabPaint. If you would like to create a room, simply direct
    your browser to it, e.g: <a href="/paint/myroom">/paint/myroom</a>. You can
    call your room whatever you want. Anyone who knows the URL can join it.
    Rooms are deleted after an hour of no activity, or after five minutes of
    emptiness.
  </p>
  <p>
    If you do not wish for your room to appear in this list, simply go to
    /hidden/ instead of /paint/, e.g:
    <a href="/hidden/myplace">/hidden/myplace</a>
  </p>
  <h2>Create a room</h2>
  <form id="newroomform">
    <div>
      <label for="newroomname">Room name: </label>
      <input type="text" id="newroomname" value="" required pattern="[^ ].*" />
    </div>
    <div>
      <label for="newroomhidden">Hidden: </label>
      <input type="checkbox" id="newroomhidden" value="hidden" />
    </div>
  </form>
  <div id="new_room_link_container">Link: <a href="" id="newroomlink"></a></div>

  <h2>Join a room</h2>
  <p>
    Here is a list of public rooms.
    <a href="javascript:updateRooms()">(refresh)</a>
  </p>

  <ul id="rooms"></ul>
</div>