<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Paint</title>
        
        <link rel="stylesheet" type="text/css" href="/style.css" />
        
        <%- head %>	

		
    </head>
    <body ondragstart="return false;">
    	<!--
		<div id = "toolbar">
	   		<strong>Colour:</strong> <input id="colpicker" class="color" value="ff0000">
	   		<strong>PenWidth:</strong> <input type="range" id="penWidth" min="1" max="50" value = "10"/>
		</div>
		
		<div id = "canvas"></div>
		!-->
		<h1> <%= pagetitle %></h1>
		<%- body %>
    </body>
</html>
