<div id="vertical_stretch">

  <div id="paint_container" onselectstart="return false;">
    <div id="toolbar"> </div>
    <div id="paint_canvas" dropzone="copy f:image/png f:image/gif f:image/jpeg"> </div>
  </div>

  <div id="rightpanel">
    <div id="panelhead">
      <div id="usercount"> </div>
      <h3>Chat box</h3>
      <div id="yourname">Your name: </div>
    </div>
    <div id="chatcont">
      <div id="chat">
      </div>
    </div>
    <form id="chatform">
      <div>
        <input type="text" id="chatinput" />
        <input type="submit" value="Send" />
      </div>
    </form>
  </div>

</div>

<div id="users">

</div>