
/* Website */
body {
	margin: 0;
	padding: 0;
	font-family: sans;
	background-color: #EEE;
	overflow: hidden;
}

#mainbox {

	height: 100%;	
	width: 100%;

}

.text_container {
	background-color: white;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	border: thin #DDD solid;
	padding: 1em;
}

/* Room list */
h1 {
	margin-left: 1em;
	margin-top: 0.3em;
	margin-bottom: 0;
	font-size: 1.6em;
	text-align: center;
}
h1 > a:visited, h1 > a:link{
	color: black;
}
h2 {
	font-size: larger;
}


#rooms {
	-webkit-columns: 3;
	-moz-columns: 3;
	columns: 3;
}
#rooms > li:before {
	content:"• ";
}

/* Paint stuff */

#vertical_stretch {

}

#paint_container {


	min-width: 300px;
}

#rightpanel {

	background-color: white;
	min-width: 0;
	overflow: hidden;
}

#panelhead {
	border-bottom: thin #DDD solid;
	color: #999;
}
#panelhead > h3 {
	font-size: medium;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	
}
#usercount {
	display: inline-block;
	padding-top: 3px;
	color: #999;
	font-size: smaller;
	float: left;
}

#yourname {
	font-size: smaller;
}
#chatbox {
	
}
#chatcont {

	margin-right: 1em;
	
	width: 100%;
	font-size: smaller;
}
#chat {
	overflow-y: auto;
	word-wrap: break-word;
	height: 300px;
}
#chatform {
	width: 100%;
}
#chatform > div {

}
#chatinput {
	display: block;

}
.chatname {
	color: #444;
}

#users {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.9);
	border: thin #DDD solid;
	border-top: none;
	min-width: 100px;
	word-wrap: break-word;
	
	-webkit-border-bottom-right-radius: 07px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 07px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 07px;
	border-bottom-left-radius: 7px;
	padding: 7px;
	padding-left: 0;
}

.progbox {
	width: 200px;
	height: 20px;
	border: thin gray solid;
	background-color: rgba(140, 140, 140, 0.4);
	padding: 1px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.progress {
	/*background-color: green;*/
	background: #88F url(/progress.png) repeat-x;
	height: 100%;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

/* Canvas */

button > img {
	padding-right: 0.5em;
	vertical-align: bottom;
}

#paint_canvas {
	overflow: scroll;
	height: 100px;
	background-color: white;
	
}

canvas.canvas {
	position: absolute;
	top: 0;
}

#layers {
	position: relative;
	height: 100%;
	
}

#toolbar {
	background: #EEF;
	position: relative;
	border-bottom: thin black solid;
	z-index: 2;
	padding-left: 1em;
}

.vsplitbar {
	width: 6px;
	background: #EEF url(/vgrabber.gif) no-repeat center;
}

.vsplitbar:hover, .vsplitbar.active {
	background: #EAA url(/vgrabber.gif) no-repeat center;
	opacity: 0.7;
	filter: alpha(opacity=70); /* IE */
}

