
body {
	margin: 0;
}

#container {

	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: thin black solid;
}

#paint_canvas {
	width: 100%;
	height: 570px;
	
}

canvas.canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

#layers {
	position: relative;
	height: 100%;
}

#toolbar {
	background: #FFFFFF;
	position: relative;
	border: thin black solid;
	height: 30px;
	z-index: 2;
}

.splitter {
	border: thin gray solid;
	margin-left: 1em;
	margin-right: 1em;
}
